body{
    background-color:antiquewhite ;
}

.container{
    background-color: aliceblue;
    width: 2000px;
    height: 2360px;
    border-radius: 50px;
    box-shadow:0px 0px 20px 0px #888888; ;
    border: solid rgb(135, 132, 132);
    margin-top: 20px;
    margin-bottom: 20px;
}   

.display-6{
    font-size: 25px;
}

#carouselExample{
    max-width: 400px; /* Establece el ancho máximo del carrusel */
    margin-left: 450px
    
}

#carouselExample img {
    width: 100%;
   
}

.cardi{
    
   margin: 40px;
}
